body{

margin:0;
font-family:'Poppins',sans-serif;
background:#f6f8fc;

}


header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 60px;

background:white;

box-shadow:0 2px 10px rgba(0,0,0,0.1);

}


.logo{

height:60px;

}


.logo-box{

display:flex;
align-items:center;
gap:10px;

}


nav a{

margin-left:20px;
text-decoration:none;
color:#333;
font-weight:500;

}


.hero{

height:90vh;

background-image:url("https://images.unsplash.com/photo-1604881991720-f91add269bed");

background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;

}


.hero-content{

background:rgba(0,0,0,0.55);

padding:60px;

border-radius:15px;

color:white;

text-align:center;

}


.hero h2{

font-size:50px;

}


.buttons{

margin-top:20px;

}


.buttons a{

padding:14px 28px;

border-radius:8px;

text-decoration:none;

color:white;

margin:10px;

display:inline-block;

}


.amazon{

background:#ff9900;

}


.flipkart{

background:#2874f0;

}


section{

max-width:1100px;

margin:auto;

padding:80px 20px;

text-align:center;

}


.product-grid{

display:flex;

gap:30px;

justify-content:center;

flex-wrap:wrap;

}


.card{

background:white;

width:280px;

border-radius:12px;

overflow:hidden;

box-shadow:0 6px 20px rgba(0,0,0,0.1);

transition:0.3s;

}


.card:hover{

transform:translateY(-10px);

}


.card img{

width:100%;

height:200px;

object-fit:cover;

}


.card h3{

margin:15px;

}


.stores{

display:flex;

gap:20px;

justify-content:center;

flex-wrap:wrap;

}


.store{

padding:15px 30px;

border-radius:8px;

color:white;

}


.shopify{

background:#95bf47;

}


footer{

background:#222;

color:white;

padding:30px;

text-align:center;

}


/* mobile responsive */

@media(max-width:768px){

header{

flex-direction:column;

gap:10px;

}


.hero h2{

font-size:34px;

}


nav{

display:flex;

gap:10px;

flex-wrap:wrap;

justify-content:center;

}

}
